*.class
*.war
*.ear
*.orig
*.iml
*.ipr
*.iws
*.log
.gradle
.metadata
.classpath
.settings
.project
.bin
/.idea
.nb-gradle-properties
.DS_Store
error_hotspot.xml
hs_err_pid*
build
bin
classes
target
target-eclipse
private
logs
out
_git.gsp
rebel.xml
